<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Madame, Monsieur,</p>
<p>Quelqu'un a envoyé une demande de modification de document :</p>
<table>
  <tr>
    <td style="vertical-align:top;padding: 5px;">
      Nom
    </td>
    <td style="vertical-align:top;;padding: 5px;">:</td>
    <td style="vertical-align:top;;padding: 5px;" th:text="${senderName}"></td>
  </tr>
  <tr>
    <td style="vertical-align:top;;padding: 5px;">
      Email
    </td>
    <td style="vertical-align:top;;padding: 5px;">:</td>
    <td style="vertical-align:top;;padding: 5px;">
      <a th:href="'mailto:' + ${senderEmail}" th:utext="${senderEmail}"></a>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top;padding:5px;">
      Document
    </td>
    <td style="vertical-align:top;padding:5px;">:</td>
    <td style="vertical-align:top;padding:5px;">
      <a th:href="${homePage} + '/' + ${publication.archiveId}" th:utext="${publication.title}"></a>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top;padding:5px;">
      Message
    </td>
    <td style="vertical-align:top;padding:5px;">:</td>
    <td style="vertical-align:top;padding:5px;" th:utext="${messageContent}"></td>
  </tr>
</table>

</body>
</html>
