<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Bonjour,</p>
<p>Rapport concernant à la mise à jour des publications:</p>

<div th:if="${exception!= null}" style="border:solid 1px #888;padding:5px;margin: 5px 0px;background-color: #eee;">
  <p th:utext="'&lt;b&gt;Erreur de validation du XML: &lt;/b&gt;'"</p>
  <p th:utext="'&lt;i&gt;' +${exception} +'&lt;/i&gt;'"></p>
</div>
<ul th:each="error: ${listError}">
  <li th:each="errorEntry : ${error}">
    <p th:utext="'La publication &lt;b&gt;' + ${errorEntry.key} + '&lt;/b&gt; contient les erreurs suivantes: '"></p>
    <pre style="font-style:italic;display:inline;" th:utext="${errorEntry.value}"></pre>
  </li>
</ul>
<p th:if="${total!= null}" th:utext="'La mise à jour en masse de  &lt;b&gt;' + ${total}  + '&lt;/b&gt; publications s\'est terminée avec succès'"></p>

<p><em>Archive ouverte UNIGE</em></p>

</body>
</html>