<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>[English below]</p>

<p>Madame, Monsieur,</p>
<p>Quelqu'un vous a envoyé un message par le biais de l'Archive ouverte UNIGE :</p>
<table>
    <tr>
        <td style="vertical-align:top;padding: 5px;">
            Nom
        </td>
        <td style="vertical-align:top;;padding: 5px;">:</td>
        <td style="vertical-align:top;;padding: 5px;" th:text="${senderName}"></td>
    </tr>
    <tr>
        <td style="vertical-align:top;;padding: 5px;">
            Email
        </td>
        <td style="vertical-align:top;;padding: 5px;">:</td>
        <td style="vertical-align:top;;padding: 5px;">
            <a th:href="'mailto:' + ${senderEmail}" th:utext="${senderEmail}"></a>
        </td>
    </tr>
    <tr th:if="${publication != null}">
        <td style="vertical-align:top;padding:5px;">
            Document
        </td>
        <td style="vertical-align:top;padding:5px;">:</td>
        <td style="vertical-align:top;padding:5px;">
            <a th:href="${homePage} + '/' + ${publication.archiveId}" th:utext="${publication.title}"></a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top;padding:5px;">
            Message
        </td>
        <td style="vertical-align:top;padding:5px;">:</td>
        <td style="vertical-align:top;padding:5px;" th:utext="${messageContent}"></td>
    </tr>
</table>

<p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>

<p>--------<br/></p>

<p>Dear Sir or Madam,</p>
<p>Someone sent you a message through Archive ouverte UNIGE website:</p>
<table>
    <tr>
        <td style="vertical-align:top;padding:5px;">
            Name
        </td>
        <td style="vertical-align:top;padding:5px;">:</td>
        <td style="vertical-align:top;" th:text="${senderName}"></td>
    </tr>
    <tr>
        <td style="vertical-align:top;padding:5px;">
            Email
        </td>
        <td style="vertical-align:top;padding:5px;">:</td>
        <td style="vertical-align:top;padding:5px;">
            <a th:href="'mailto:' + ${senderEmail}" th:utext="${senderEmail}"></a>
        </td>
    </tr>
    <tr th:if="${publication != null}">
        <td style="vertical-align:top;padding:5px;">
            Document
        </td>
        <td style="vertical-align:top;padding:5px;">:</td>
        <td style="vertical-align:top;padding:5px;">
            <a th:href="${homePage} + '/' + ${publication.archiveId}" th:utext="${publication.title}"></a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top;padding:5px;">
            Message
        </td>
        <td style="vertical-align:top;padding:5px;">:</td>
        <td style="vertical-align:top;padding:5px;" th:utext="${messageContent}"></td>
    </tr>
</table>

<p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>

</body>
</html>
