<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"
    />
</head>
<body>
    <p>[English below]</p>

    <p>Madame, Monsieur,</p>
    <p>Voici la liste des dépôts initiés dans l'Archive ouverte il y a plus de <span th:text="${delay}"></span> jours dans lesquels vous êtes mentionné-e comme déposant-e ou contributeur/trice et qui n'ont pas encore été finalisés ou envoyés en validation.</p>
    <p>Liste des dépôts en cours (onglet "Mes brouillons") :</p>
    <ul th:each="publication : ${publications}">
        <li th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).IN_PROGRESS}">
            <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}"
            th:utext="${publication.title}"></a>
            <span th:text="' - Déposé par ' + ${publication.creator.getFullName()}"></span>
        </li>
    </ul>
    <p>Liste des dépôts en attente d'information (onglet "Information requise") :</p>
    <ul th:each="publication : ${publications}">
        <li th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).FEEDBACK_REQUIRED}">
            <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}"
               th:utext="${publication.title}"></a>
            <span th:text="' - Déposé par ' + ${publication.creator.getFullName()}"></span>
        </li>
    </ul>

    <p>Pour finaliser ces dépôts, merci de cliquer sur le titre de la publication et de compléter ce qui doit l'être avant de l’envoyer en validation. Une personne de notre équipe pourra alors le traiter. Si ce dépôt a été initié par erreur, vous pourrez aussi le supprimer.</p>
    <p>Veuillez noter qu'un-e co-auteur-es ayant aussi reçu cette information a peut-être déjà procédé aux actions requises.</p>
    <p>Votre correspondant-e à la Bibliothèque reste à votre disposition si vous avez des questions : <a href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/">https://www.unige.ch/biblio/aou/fr/apropos/info/contact/</a>.</p>
    <p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>
    <p>--------<br/></p>
    <table style="background-color: #eeeeee;"><tr><td>
        <p>Dear Sir or Madam,</p>
        <p>Here is the list of deposits initiated in Archive ouverte UNIGE more than <span th:text="${delay}"></span> days ago in which you are mentioned as a depositor or contributor and which have not yet been finalized or sent for validation.</p>
        <p>List of deposits in progress (tab "My drafts"):</p>
        <ul th:each="publication : ${publications}">
            <li th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).IN_PROGRESS}">
                <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}"
                th:utext="${publication.title}"></a>
                <span th:text="' - Deposited by ' + ${publication.creator.getFullName()}"></span>
            </li>
        </ul>
        <p>List of deposits awaiting information (tab "Further information required"):</p>
        <ul th:each="publication : ${publications}">
            <li th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).FEEDBACK_REQUIRED}">
                <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}"
                th:utext="${publication.title}"></a>
                <span th:text="' - Deposited by ' + ${publication.creator.getFullName()}"></span>
            </li>
        </ul>
        <p>To finalize these deposits, please click on the title of the publication and complete what needs to be completed before sending it for validation. Someone from our team will then be able to process it. If this submission was initiated by mistake, you can also delete it.</p>
        <p>Please note that a co-author who also received this information may have already taken the required actions.</p>
        <p>Your correspondent at the Library remains at your disposal if you have any questions: <a href="https://www.unige.ch/biblio/aou/en/about/info/contact/">https://www.unige.ch/biblio/aou/en/about/info/contact/</a>.</p>
        <p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>
    
    </td></tr></table>
    <p>--------<br/>
    Ce message est envoyé aux déposant-es et auteur-es - Notification : Dépôts en cours - en attente d'action de votre part</p>

</body>
</html>
