<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"
    />
</head>
<body>

<p>Bonjour,</p>
<p>Voici la liste des dépôts en attente de validation et qui n'ont pas été modifiés depuis plus de <span th:text="${delay}"></span> jours.</p>
<p>Dépôts corrigés à revalider :</p>
<ul th:each="publication : ${publications}">
    <li th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).UPDATES_VALIDATION}">
        <a th:href="${homePage} + '/deposit-to-validate/detail/' + ${publication.resId}"
           th:utext="${publication.title}"></a>
        <span th:text="' - Déposé par ' + ${publication.creator.getFullName()}"></span>
    </li>
</ul>
<p>Nouveaux dépôts à valider :</p>
<ul th:each="publication : ${publications}">
    <li th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).IN_VALIDATION}">
        <a th:href="${homePage} + '/deposit-to-validate/detail/' + ${publication.resId}"
           th:utext="${publication.title}"></a>
        <span th:text="' - Déposé par ' + ${publication.creator.getFullName()}"></span>
    </li>
</ul>
<p><em>Archive ouverte UNIGE</em></p>

<p>--------<br/>
    Ce message est envoyé aux chargé-es de validation - Notification : Dépôts en attente de validation (oubli?)</p>

</body>
</html>
