<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>[English below]</p>

<p>Madame, Monsieur,</p>
<p>Votre chargé-e de validation a besoin d’une information supplémentaire à propos de votre dépôt dans l’Archive ouverte UNIGE :</p>

<p><a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}" th:utext="${publication.title}"></a></p>
<h4>Demande :</h4>
<p>
    <span style="font-style:italic;" th:if="${publication.getLastComment(false)}"
          th:text="'&ldquo;' + ${publication.getLastComment(false).getText()} + '&rdquo;'"></span>
    <span th:if="${publication.getLastComment(false)}"
          th:text="'&nbsp;par ' + ${publication.getLastComment(false).getPerson().getFullName()} + '&nbsp;('
                + ${#temporals.format(publication.getLastComment(false).getLastUpdate().getWhen(), 'dd.MM.yyyy HH:mm:ss', 'Europe/Zurich')}  + '&nbsp;)'"></span>
</p>
<p>&nbsp;</p>

<p>Merci de ne pas répondre à cet email directement, mais de cliquer sur le titre de la publication. Vous pourrez alors fournir les informations
    complémentaires demandées et renvoyer le dépôt en validation.</p>
<p>Votre correspondant-e à la Bibliothèque reste à votre disposition si vous avez des questions : <a href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/">https://www.unige.ch/biblio/aou/fr/apropos/info/contact/</a>.</p>
<p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>

<p>--------<br/></p>
<table style="background-color: #eeeeee;"><tr><td>
    <p>Dear Sir or Madam,</p>
    <p>Your validation officer needs additional information about your deposit in Archive ouverte UNIGE:</p>
    <p><a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}" th:utext="${publication.title}"></a></p>

    <h4>Request:</h4>
    <p>
    <span style="font-style:italic;" th:if="${publication.getLastComment(false)}"
          th:text="'&ldquo;' + ${publication.getLastComment(false).getText()} + '&rdquo;'"></span>
        <span th:if="${publication.getLastComment(false)}"
              th:text="'&nbsp;by ' + ${publication.getLastComment(false).getPerson().getFullName()} + '&nbsp;('
                + ${#temporals.format(publication.getLastComment(false).getLastUpdate().getWhen(), 'dd.MM.yyyy HH:mm:ss', 'Europe/Zurich')} + '&nbsp;)'"></span>
    </p>
    <p>&nbsp;</p>

    <p>Please do not reply to this email directly, but click on the title of the publication. You will then be able to provide the additional
        information requested and return the submission for validation.</p>
        <p>Your correspondent at the Library remains at your disposal if you have any questions: <a href="https://www.unige.ch/biblio/aou/en/about/info/contact/">https://www.unige.ch/biblio/aou/en/about/info/contact/</a>.</p>
    </p>
    <p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>
</td></tr></table>

<p>--------<br/>
    Ce message est envoyé aux déposant-es - Notification : Demande d'information sur un dépôt en attente de validation</p>

</body>
</html>
