<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>[English below]</p>

<p>Madame, Monsieur,</p>
<p>Voici la liste des publications vous concernant qui ont été versées hier dans l'Archive ouverte UNIGE :</p>
<ul th:each="publication : ${publications}">
    <li>
        <a th:href="${homePage} + '/' + ${publication.archiveId}" th:utext="${publication.title}"></a>
        <span th:text="' - Déposé par ' + ${publication.creator.getFullName()}"></span>
    </li>
</ul>
<p>Vous pouvez corriger/compléter ces dépôts si vous constatez une inexactitude. Votre correspondant-e à la Bibliothèque reste à votre disposition si vous avez des questions : <a href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/">https://www.unige.ch/biblio/aou/fr/apropos/info/contact/</a>.</p>
<p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>

<p>--------<br/></p>
<table style="background-color: #eeeeee;"><tr><td>
    <p>Dear Sir or Madam,</p>
    <p>Here is the list of publications you authored or supervised that were approved in Archive ouverte UNIGE yesterday:</p>
    <ul th:each="publication : ${publications}">
        <li>
            <a th:href="${homePage} + '/' + ${publication.archiveId}" th:utext="${publication.title}"></a>
            <span th:text="' - Submitted by ' + ${publication.creator.getFullName()}"></span>
        </li>
    </ul>
    <p>You can correct/complete these deposits if you find any inaccuracies. Your correspondent at the Library remains at your disposal if you have any questions: <a href="https://www.unige.ch/biblio/aou/en/about/info/contact/">https://www.unige.ch/biblio/aou/en/about/info/contact/</a>.</p>
    <p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>
</td></tr></table>

<p>--------<br/>
    Ce message est envoyé aux auteur-es - Notification : Liste de mes publications validées</p>
</body>
</html>
