<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>[English below]</p>

<p>Madame, Monsieur,</p>
<p>Voici la liste de vos dépôts dans l’Archive ouverte UNIGE qui ont été validés hier :</p>
<div th:each="publication: ${publications}">
    <div style="border:solid 1px #888;padding:5px;margin: 5px 0px;">
        <p>
            <a th:href="${homePage} + '/' + ${publication.archiveId}" th:utext="${publication.title}"></a>
        </p>
        <div th:if="${publication.getLastComment(false) != null}">
            <h4 style="display:inline;">Dernier commentaire :</h4>
            <pre style="font-style:italic;display:inline;"
                 th:text="'&ldquo;' + ${publication.getLastComment(false).getText()} + '&rdquo;'"></pre>
            <p style="display:inline;" th:text="'&nbsp;par ' + ${publication.getLastComment(false).getPerson().getFullName()} + '&nbsp;('
                + ${#temporals.format(publication.getLastComment(false).getLastUpdate().getWhen(), 'dd.MM.yyyy HH:mm:ss', 'Europe/Zurich')}  + '&nbsp;)'"></p>
        </div>
    </div>
</div>
<p>Votre correspondant-e à la Bibliothèque reste à votre disposition si vous avez des questions : <a href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/">https://www.unige.ch/biblio/aou/fr/apropos/info/contact/</a>.</p>
<p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>

<p>--------<br/></p>
<table style="background-color: #eeeeee;">
    <tr>
        <td>
            <p>Dear Sir or Madam,</p>
            <p>Here is the list of your submissions in Archive ouverte UNIGE that were approved yesterday:</p>
            <div th:each="publication: ${publications}">
                <div style="border:solid 1px #888;padding:5px;margin: 5px 0px;">
                    <p>
                        <a th:href="${homePage} + '/' + ${publication.archiveId}"
                           th:utext="${publication.title}"
                        ></a>
                    </p>
                    <div th:if="${publication.getLastComment(false) != null}">
                        <h4 style="display:inline;">Last comment:</h4>
                        <pre style="font-style:italic;display:inline;"
                             th:text="'&ldquo;' + ${publication.getLastComment(false).getText()} + '&rdquo;'"></pre>
                        <p style="display:inline;"
                           th:text="'&nbsp;by ' + ${publication.getLastComment(false).getPerson().getFullName()} + '&nbsp;('
                    + ${#temporals.format(publication.getLastComment(false).getLastUpdate().getWhen(), 'dd.MM.yyyy HH:mm:ss', 'Europe/Zurich')}  + '&nbsp;)'"></p>
                    </div>
                </div>
            </div>
            <p>Your correspondent at the Library remains at your disposal if you have any questions: <a href="https://www.unige.ch/biblio/aou/en/about/info/contact/">https://www.unige.ch/biblio/aou/en/about/info/contact/</a>.</p>
            <p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>
        </td>
    </tr>
</table>
<p>--------<br/>
    Ce message est envoyé aux déposant-es - Notification : Liste de mes dépôts validés</p>
</body>
</html>
