<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Bonjour,</p>
<p>De nouveaux groupes de recherche ont été créés et doivent être validés : </p>

<ul th:each="researchGroup : ${researchGroups}">
    <li>
        <a th:href="${homePage} + '/admin/research-group/detail/' + ${researchGroup.resId}" th:text="${researchGroup.name}">
        </a>
        <p th:text="'&#10;Liste de dépôts : '" th:if="${not #lists.isEmpty(researchGroup.publications)}"></p>
        <ul th:each="publication: ${researchGroup.publications}">
            <li>
                <p>
                    <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}"
                       th:utext="${publication.title}"></a>
                </p>
            </li>
        </ul>
    </li>
</ul>

<p><em>Archive ouverte UNIGE</em></p>

</body>
</html>
