<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Bonjour,</p>
<p>De nouveaux dépôts sont en attente de validation.</p>
<p>Dépôts modifiés à revalider :</p>
<div th:each="publication : ${publications}">
    <div style="border:solid 1px #888;padding:5px;margin: 5px 0px;" th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).UPDATES_VALIDATION}">
        <p>
            <a th:href="${homePage} + '/deposit-to-validate/detail/' + ${publication.resId}" th:utext="${publication.title}"></a>
            <span th:text="' - Déposé par ' + ${publication.creator.getFullName()}"></span>
        </p>
        <div th:if="${publication.getLastComment(false) != null}">
            <h4 style="display:inline;">Dernier commentaire :</h4>
            <pre style="font-style:italic;display:inline;"
                 th:text="'&ldquo;' + ${publication.getLastComment(false).getText()} + '&rdquo;'"></pre>
            <p style="display:inline;" th:text="'&nbsp;par ' + ${publication.getLastComment(false).getPerson().getFullName()} + '&nbsp;('
                + ${#temporals.format(publication.getLastComment(false).getLastUpdate().getWhen(), 'dd.MM.yyyy HH:mm:ss', 'Europe/Zurich')}  + '&nbsp;)'"></p>
        </div>
    </div>
</div>
<p>Dépôts à valider :</p>
<div th:each="publication : ${publications}">
    <div style="border:solid 1px #888;padding:5px;margin: 5px 0px;" th:if="${publication.getStatus() == T(ch.unige.aou.model.publication.Publication$PublicationStatus).IN_VALIDATION}">
        <p>
            <a th:href="${homePage} + '/deposit-to-validate/detail/' + ${publication.resId}" th:utext="${publication.title}"></a>
            <span th:text="' - Déposé par ' + ${publication.creator.getFullName()}"></span>
        </p>
        <div th:if="${publication.getLastComment(false) != null}">
            <h4 style="display:inline;">Dernier commentaire :</h4>
            <pre style="font-style:italic;display:inline;"
                 th:text="'&ldquo;' + ${publication.getLastComment(false).getText()} + '&rdquo;'"></pre>
            <p style="display:inline;" th:text="'&nbsp;par ' + ${publication.getLastComment(false).getPerson().getFullName()} + '&nbsp;('
                + ${#temporals.format(publication.getLastComment(false).getLastUpdate().getWhen(), 'dd.MM.yyyy HH:mm:ss', 'Europe/Zurich')}  + '&nbsp;)'"></p>
        </div>
    </div>
</div>

<p><em>Archive ouverte UNIGE</em></p>
<p>--------<br/>
    Ce message est envoyé aux chargé-es de validation - Notification : Liste des nouveaux dépôts à valider</p>

</body>
</html>

