<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>[English below]</p>

<p>Madame, Monsieur,</p>
<p>Nous avons placé dans votre espace "Mes brouillons" les publications suivantes récupérées depuis votre profil ORCID. Elles ne sont actuellement visibles et éditables que par les auteur-es de la publication marqué-es comme membre UNIGE.</p>
<p>Veuillez désormais <strong>vérifier et/ou compléter</strong> ces dépôts, puis les envoyer en validation.</p>
<p>Remarque: si vous n'avez pas les droits d'édition, contactez votre co-auteur-e en rose sur le dépôt qui pourra l'éditer.</p>
<ul th:each="publication : ${publications}">
    <li>
        <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}" th:utext="${publication.title}"></a>
    </li>
</ul>
<p>Votre correspondant-e à la Bibliothèque reste à votre disposition si vous avez des questions : <a
        href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/">https://www.unige.ch/biblio/aou/fr/apropos/info/contact/</a>.</p>
<p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>

<p>--------<br/></p>

<div style="padding:5px; background-color: #eeeeee;">
    <p>Dear Sir or Madam,</p>
    <p>We have placed the following publications, retrieved from your ORCID profile, in your "My drafts" area. They can currently only be viewed and edited by the authors of the publication who are marked as UNIGE members.</p>
    <p>Please <strong>check and/or complete</strong> their content before sending them for validation by the Archive ouverte UNIGE
        team.</p>
    <p>Note: if you do not have the right to edit those deposits, please get in touch with your co-author(s) marked in pink on the
        deposit who will be able to edit it and send it into validation.</p>
    <ul th:each="publication : ${publications}">
        <li>
            <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}" th:utext="${publication.title}"></a>
        </li>
    </ul>
    <p>Your correspondent at the Library remains at your disposal if you have any questions: <a
            href="https://www.unige.ch/biblio/aou/en/about/info/contact/">https://www.unige.ch/biblio/aou/en/about/info/contact/</a>.</p>
    <p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>
</div>

</body>
</html>
