<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>[English below]</p>

<p>Madame, Monsieur,</p>
<p>Vous vous êtes abonné-e aux notifications suivantes :</p>
<ul th:each="notificationType : ${notificationTypes}">
    <li th:text="${notificationType}"></li>
</ul>
<p>Vous pouvez en tout temps sélectionner d’autres notifications ou modifier votre choix à partir de votre profil.</p>
<p>Votre correspondant-e à la Bibliothèque reste à votre disposition si vous avez des questions : <a href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/">https://www.unige.ch/biblio/aou/fr/apropos/info/contact/</a>.</p>
<p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>

<p>--------<br/></p>

<p>Dear Sir or Madam,</p>
<p>You have subscribed to the following notifications:</p>
<ul th:each="notificationType : ${notificationTypes}">
    <li th:text="${notificationType}"></li>
</ul>
<p>You can select other notifications or change your choice from your profile at any time.</p>
<p>Your correspondent at the Library remains at your disposal if you have any questions: <a href="https://www.unige.ch/biblio/aou/en/about/info/contact/">https://www.unige.ch/biblio/aou/en/about/info/contact/</a>.</p>
<p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>

</body>
</html>
