<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>[English below]</p>

<p>Madame, Monsieur,</p>
<p>Les publications suivantes ont été exportées depuis l'Archive ouverte UNIGE vers votre profil ORCID.</p>
<ul th:each="publication : ${publications}">
    <li>
        <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}" th:utext="${publication.title}"></a>
    </li>
</ul>
<p>Votre correspondant-e à la Bibliothèque reste à votre disposition si vous avez des questions : <a
        href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/">https://www.unige.ch/biblio/aou/fr/apropos/info/contact/</a>.</p>
<p>Avec nos cordiales salutations,<br/><em>Votre équipe Archive ouverte UNIGE</em></p>

<p>--------<br/></p>

<div style="padding:5px; background-color: #eeeeee;">
    <p>Dear Sir or Madam,</p>
    <p>The following publications were exported from Archive ouverte UNIGE to your ORCID profile.</p>
    <ul th:each="publication : ${publications}">
        <li>
            <a th:href="${homePage} + '/deposit/detail/' + ${publication.resId}" th:utext="${publication.title}"></a>
        </li>
    </ul>
    <p>Your correspondent at the Library remains at your disposal if you have any questions: <a
            href="https://www.unige.ch/biblio/aou/en/about/info/contact/">https://www.unige.ch/biblio/aou/en/about/info/contact/</a>.</p>
    <p>Kind regards,<br/><em>Your Archive ouverte UNIGE team</em></p>
</div>

</body>
</html>
