<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"
    />
</head>
<body>

<p>Bonjour,</p>
<p>Un commentaire a été ajouté par un-e collègue ou un-e déposant-e sur un dépôt :</p>

<div th:each="publication: ${publications}">
    <div style="border:solid 1px #888;padding:5px;margin: 5px 0px;">
        <p>
            <a th:href="${homePage} + '/deposit-to-validate/detail/' + ${publication.resId}"
               th:utext="${publication.title}"
            ></a>
        </p>

        <div th:if="${publication.getLastComment(true) != null}">
            <h4>Dernier commentaire :</h4>
            <p>
            <pre style="font-style:italic;" th:text="'&ldquo;' + ${publication.getLastComment(true).getText()} + '&rdquo;'"></pre>
            </p>
            <p th:text="'&nbsp;par ' + ${publication.getLastComment(true).getPerson().getFullName()} + '&nbsp;('
                + ${#temporals.format(publication.getLastComment(true).getLastUpdate().getWhen(), 'dd.MM.yyyy HH:mm:ss', 'Europe/Zurich')}  + '&nbsp;)'"></p>

        </div>
    </div>
</div>

<p><em>Archive ouverte UNIGE</em></p>

<p>--------<br/>
    Ce message est envoyé aux chargé-es de validation - Notification : Nouveaux commentaires pour les validateurs/trices</p>

</body>
</html>
