<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Bonjour,</p>
<p>De nouveaux groupes de recherche ont été synchronisés :</p>

<p th:if="${DELETED!= null and !DELETED.isEmpty()}" th:text="'Effacés : '"></p>
<ul th:each="researchGroup : ${DELETED}">
    <li>
        <a th:href="${homePage} + '/admin/research-group/detail/' + ${researchGroup.id}" th:text="${researchGroup.name}">
        </a>
    </li>
</ul>

<p th:if="${ADDED!= null and !ADDED.isEmpty()}" th:text="'Créés : '"></p>
<ul th:each="researchGroup : ${ADDED}">
    <li>
        <a th:href="${homePage} + '/admin/research-group/detail/' + ${researchGroup.id}" th:text="${researchGroup.name}">
        </a>
    </li>
</ul>

<p th:if="${MODIFIED!= null and !MODIFIED.isEmpty()}" th:text="'Modifiés : '"></p>
<ul th:each="researchGroup : ${MODIFIED}">
    <li>
        <span th:text="'Ancien nom : ' + ${researchGroup.oldName} +', Nouveau nom : '"></span>
        <a th:href="${homePage} + '/admin/research-group/detail/' + ${researchGroup.id}" th:text="${researchGroup.name}">
        </a>
    </li>
</ul>


<p><em>Archive ouverte UNIGE</em></p>

</body>
</html>
