table{
	border : 1px solid black;
	margin : 0 auto;
	width  : 50%;
}
td{
	border : 1px solid black;
}
.Enable{background-color : grey;}
.Disable{background-color : black;}
.Running{background-color : green;}
.Stopped{background-color : red;}
.footer, .header{
	text-align:center;
}
.footer > *{
	margin : .5em;
}