<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${applicationName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="css/dashboard.css"/>
    <script>
       function get(url,display) {
         var xhttp = new XMLHttpRequest();
         xhttp.open("GET", url, false);
         xhttp.setRequestHeader("Content-type", "application/json");
         xhttp.send();
         var response = JSON.parse(xhttp.responseText);
         if (display) alert("URL=" + url + "\nReturn=" + xhttp.responseText);
         location.reload();
      }
    </script>
</head>
<body>
  <div class="header">
   <p><a href="https://archive-ouverte.unige.ch/" target="blank"><img src="AoU-logo.png" alt="AoU" title="AoU" width="500"/></a>
   <p><i th:text="${applicationVersion}"></i>
  </div>
     <table>
      <tr><th>Module</th><th>Link</th></tr>
      <tr th:each="module : ${modules}">
          <td th:text="${module.getName()}" align="center"></td>
          <td align="center"><a th:text="${#strings.replace(#httpServletRequest.getRequestURL(),'dashboard','')}+@{${module.getRoot()}}" th:href="@{'/'+${module.getRoot()}}"></a></td>
       </tr>
 	 </table>
 	 &nbsp;
 	 <table>
		<tr><th colspan="2" align="center">Application</th></tr>
		<tr><td align="center"><a href="health" target="blank">Status</a></td><td align="center"><a href="info" target="blank">Info</a></td></tr>
		<tr><td align="center"><a href="metrics" target="blank">Metrics</a></td><td align="center"><a href="logfile" target="blank">Log File</a></td></tr>
	</table>
   	 &nbsp;
    <table>
		<tr><th colspan="2" align="center">Documentation</th></tr>
		<tr>
		   <td align="center">APIs</td>
		   <td align="center"><a href="docs/AoU-APIs.html" target="blank">HTML</a>&nbsp;<a href="docs/AoU-APIs.pdf" target="blank">PDF</a></td>
		</tr>
		<tr>
		   <td align="center">Integration</td>
		   <td align="center"><a href="docs/AoU-IntegrationGuide.html" target="blank">HTML</a>&nbsp;<a href="docs/AoU-IntegrationGuide.pdf" target="blank">PDF</a></td>
		</tr>
		<tr>
		   <td align="center">Open Api</td>
		   <td align="center"><a href="docs/openapi/aou-api.json" target="blank">v3</a></td>
		</tr>
	</table>
  </body>
 </html>


